body {
  background-color: rgb(102, 49, 42);
  text-align: center;
  font-size: 20px;
}

.judge {
  display: flex;
}
.drinks {
  display: flex;
  padding: 20px;
  column-gap: 50px;
  
  
}
.method {
  background-color: rgb(83, 69, 69);
  padding: 20px;
  margin: auto;
}
.scale {
  background-color: rgb(95, 52, 79);
  padding: 40px;
  margin: auto;
}

h1 {
  font-size: 50px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.white {
  color: rgb(196, 196, 193);
}

.cream {
  color: #f8e195;
}

#title {
  color: rgb(241, 162, 133);
  font-size: 40px;

}

#shopTitle {
  color: rgb(196, 196, 193);
  font-family: "Brush Script MT", cursive;
}

h2 {
  font-size: 40px;
  text-align: center;
}

h3 {
  font-size: 25px;
  text-align: center;
}

p {
  text-align: center;
  font-size: 20px;
  color:rgb(255, 255, 227)

}

#links {
  text-align: center;
  color: rgb(250, 192, 116);
  font-size: 20px;
}

img {
  width: 40%;
  border-radius: 10px;
  display: block;
  margin: auto;
}

ul {
  text-align: center;
  list-style-position: inside;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:rgb(195, 250, 190)
}

ol {
  text-align: center;
  list-style-position: inside;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:rgb(195, 250, 190)
}

@media (max-width: 600px) {
  body {
    font-size: 16px;
  }
}

